# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.cache
UdpSelfCounter/.vs/UdpSelfCounter/v15/.suo
UdpSelfCounter/.vs/*
UdpSelfCounter/UdpSelfCounter/bin/*
NetUtils/bin/*
NetUtils/obj/*
TcpListener/TcpClient/bin/*
TcpListener/TcpClient/obj/*
TcpMultiFiles/TcpClient/bin/*
TcpMultiFiles/TcpClient/obj/*
TcpListener/TcpServer/bin/*
TcpListener/TcpServer/obj/*
TcpListener/TcpListener/obj/*
TcpListener/.vs/TcpListener/*
TcpListener/TcpListener/bin/*
TcpMultiFiles/TcpServer/bin/*
TcpMultiFiles/TcpServer/obj/*
UdpSelfCounter/UdpSelfCounter/obj/Debug/*
UdpSelfCounter/UdpSelfCounter/obj/Release/*
UdpSelfCounter/UdpSelfCounter/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
TcpListener/NetUtils/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
TcpListener/.vs/TcpListener/v15/.suo
TcpListener/.vs/TcpListener/v14/.suo
TcpListener/.vs/TcpListener/v14/.suo
